* {
    box-sizing: border-box;
}

body {
    background-image: url(../images/concrete_seamless.png);
}

/* Header */

/* .heading {
    /* position: fixed; */

/* height: 90px;
    background-color: #fff;
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}

.logo {
    float: left;
    width: 250px;
    height: 90px;
    background-color: #4aaaa5;
}

#name {
    margin: 35px;
    font-size: 30px;
    font-weight: 700;
    line-height: 3;
    color: #fff;
}

.navbar {
    float: right;
    width: 30%;
    margin-top: 30px;
    position: relative;
    right: 80px;
}

.navbar li {
    float: left;
    margin-right: 15px;
}

.navbar a {
    margin-left: 15px;
    padding-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #999;
}

.navbar li:not(:first-child) {
    border-left: 1px solid #efefef;
} */

/* Main */

main {
    width: 65%;
    margin: 0 auto;
    height: 100vh;
}

.bigSection {
    float: left;
    width: 70%;
    padding: 30px;
    background-color: #fff;
}

.leftitle {
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: Georgia, Times, "Times New Roman", serif;
    border-bottom: 3px solid #ddd;
}

.leftitle h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.6;
    color: #4aaaa5;
}

.leftContent {
    height: 200px;
    margin-bottom: 20px;
}

.leftContent img {
    float: left;
    height: 150px;
    width: 200px;
    margin-top: 10px;
    margin-right: 25px;
}

.secondText {
    float: right;
}

.secondText p,
.leftContent p {
    font-size: 18px;
    line-height: 2.2;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

.leftContent p {
    float: right;
    width: 63%;
}

.smallSection {
    float: right;
    width: 26%;
    margin-bottom: 20px;
    padding: 30px;
    background-color: #fff;
}

.rightContent img {
    width: 62px;
    height: 62px;
    margin-top: 8px;
}

.rightitle h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: Georgia, Times, "Times New Roman", serif;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-bottom: 2px solid #eee;
    color: #4aaaa5;
}

/* Footer */

.footerPart {
    background-color: #666666;
    height: 100px;
    border-top: 8px solid #4aaaa5;
   
    padding: 30px;
}

.footerPart p {
    color: #ccc;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}